<div class="row">
  <div class="col-md-4">
    <% @students.each do |student|%>
     <img src="https://placekitten.com/g/200/300"/>
     <h1><%= "#{student['first_name']} #{student['last_name']}" %></h1>
     <br>
    <% end %>
  </div>
</div>  