<!DOCTYPE html>
<html>
<head>
  <title>OnlineResume</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <img src="http://anyonecanlearntocode.com/wp-content/themes/ACLTC/images/logo.png">
<div class="container">
  <div class="content">
    <%= yield %>
  </div>
</div>

</body>
</html>
